*.pro.user
.pro.user.
*.autosave
*.qmake.stash
*.qmlproject.user
.creator.
*.creator
.creator.
*.sln
*.user


Makefile
*.o
*.obj
*.so
*.a
*.dll
*.exe
*.out
*.moc
*.qrc.dep
*.qrc
.tmp

build/
debug/
release/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*~
*.bak
*.swp
.DS_Store
*.log
*.cache